/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;

    /* Font Declaration */
    font-family: "IBM Plex Sans", sans-serif;
    /* font-family: "IBM Plex Mono", monospace; */
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    color: #525F7F;
}


/* Heading */
header{
    width: 100vw;
}

.heading{
    background: radial-gradient(ellipse at center 60%, #4b4362 0, #0560af 100%);
    color: #f6fde5;
    height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.name{
    font-size: 3.5rem;
    font-weight: 400;
}

.career-titles{
    font-size: 1.5rem;
    font-weight: 400;
}

/* Nav Section */

header a{
    text-decoration: none;
    color: #0560af;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    gap: 25px;
}

.github-icon,
.linkedin-icon{
    height: 25px;
}

.github-icon:hover,
.linkedin-icon:hover{
    color: black;
}

.email:hover{
    color: black;
    text-decoration: underline;
}

section.intro{
    background-color: #F4F4F4;
    min-height: 35vh;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.about-text{
    font-size: 1.2rem;
    max-width: 75ch;
}

.profile-img{
    border-radius: 50%;
    height: 200px;
}


.projects-section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.projects-section-title{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.projects-grid-container{
    width: 850px;

    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 25px;

    align-items: center;
    justify-content: center;
}

/* Project Cards */
.project-card{
    font-size: 1rem;
    height: 350px;
    width: 500px;

    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .5), 0 3px 6px rgba(0, 0, 0, .08);
    border-radius: 10px;

    color: #525F7F;
    justify-content: space-between;
}

.project-card a{
    text-decoration: none;
}



.project-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
    align-self: flex-start;
}

.project-description{
    margin-bottom: 15px;
}

.project-tags-section{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.project-tag:nth-child(even){
    font-size: 0.9rem;
    border: solid 2.5px #92EAC0;
    border-radius: 3px;
    padding: 5px;
}

.project-tag:nth-child(odd){
    font-size: 0.9rem;
    border: solid 2.5px lightpink;
    border-radius: 3px;
    padding: 5px;
}

.project-tag:nth-child(3n){
    font-size: 0.9rem;
    border: solid 2.5px yellow;
    border-radius: 3px;
    padding: 5px;
}

.project-buttons{
    display: flex;
    gap: 10px;
}

.live-demo-btn{
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 5px;

    color: white;
    background-color: #747fe0;
    font-size: 1rem;
}

.live-demo-btn:hover{
    background-color: #92AAF9;
    cursor: pointer;
}

.live-demo-icon{
    height: 1.15rem;  
}


.source-code-btn{
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 2px;

    background-color: white;
    color: #747fe0;
    font-size: 1rem;

    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.source-code-btn:hover{
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    cursor: pointer;
}

.source-code-github-icon{
    height: 1.15rem;  
}





footer{
    background: radial-gradient(ellipse at center 60%, #4b4362 0, #0560af 100%);
    color: #f6fde5;
    min-height: 10vh;
    font-size: 1.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}