/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;

    /* Font Declaration */
    font-family: "IBM Plex Sans", sans-serif; /* IBM Plex Sans*/
    /* font-family: "IBM Plex Mono", monospace; IBM Plex Mono */
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}


/* Heading */
header{
    width: 100vw;
}

.heading{
    background: radial-gradient(ellipse at center 60%, #4b4362 0, #0560af 100%);
    color: #f6fde5;
    height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.name{
    font-size: 3.5rem;
    font-weight: 400;
}

.career-titles{
    font-size: 1.5rem;
    font-weight: 400;
}

/* Nav Section */

header a{
    text-decoration: none;
    color: #0f62fe;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    gap: 25px;
}

.github-icon,
.linkedin-icon{
    height: 25px;
}

.github-icon:hover,
.linkedin-icon:hover{
    color: black;
}

.email:hover{
    color: black;
    text-decoration: underline;
}

section.intro{
    background-color: #F4F4F4;
    min-height: 35vh;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.about-text{
    font-size: 1.2rem;
    max-width: 75ch;
}

.profile-img{
    border-radius: 50%;
    height: 200px;
}

